@{
    ViewData["Title"] = "Home Page";
}

    <article id="webslides" class="horizontal">
        @* slide 1 *@
        <section>
            <span class="background" style="background-image:url('images/yellowflower2.jpg')"></span>
            <div class="wrap">
                <h1> <strong>Self Learning with Web Development</strong></h1>
                <p class="text-intro">
                    Try it, it may not be as hard as it seems! <br />
                    All those great developers started somewhere
                </p>
                <p>
                    <a href="#" class="button zoomIn"> Download the study guide brocher </a>
                </p>

            </div>

        </section>
        @* slide 2 *@
        <section>
            <div class="wrap size-50 aligncenter">
                <h2><strong>Why Self Learn?</strong></h2>
                <p class="text-intro">Learn at your own pace</p>
                <div class="bg-white shadow">
                    <ul class="flexblock reasons">
                        <li>
                            <h2>Latest and greatest technologies are online</h2>
                            <p> dumy text of those things</p>
                        </li>
                        <li>
                            <h2>Learn anytime anywhere</h2>
                            <p> dumy text of those things</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        @* slide 3 *@
        <section>
            <div class="wrap">
                <div class="grid vertical-align">
                    <div class="column">

                        <h3><strong>Full Stack Javascript</strong></h3>
                        <p class="text-intro">You can learn Javascript front to back</p>
                        <p>
                            some more text some more textsome more textsome more textsome more textsome more textsome more text <br />
                            is this working?
                        </p>
                    </div>

                    <div class="column">
                        <img src="~/images/mustknow.jpg" />
                    </div>
                </div>
            </div>

        </section>
        @* slide 4 *@
        <section>
            <div class="wrap">
                <h2>carriculum</h2>
                <ul class="flexblock features">
                    <li>
                        <div>
                            <h2> CSS /HTML</h2>
                            <img src="~/images/htmlCSS.jpg" />

                        </div>
                    </li>
                    <li>
                        <div>
                            <h2> Front end programming</h2>
                            <img src="~/images/JSJQ.jpg" />
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2> backend programming</h2>
                            <img src="~/images/backend.jpg" />

                        </div>
                    </li>
                </ul>
            </div>
        </section>
        @* slide 5 *@
        <section>
            <div class="wrap">
                <h2><strong>bootcamp projects</strong></h2>
                <p>What you can build</p>
                <ul class="flexblock gallery">
                    <li>
                        <a href="#">
                            <figure>
                                <img src="~/images/project1.jpg" alt="project1 image" />
                                <figcaption>
                                    <h2>Project1Name</h2>
                                </figcaption>
                            </figure>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <figure>
                                <img src="~/images/project2.jpg" alt="project2 image" />
                                <figcaption>
                                    <h2>Project2Name</h2>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <figure>
                                <img src="~/images/project3.jpg" alt="project3 image" />
                                <figcaption>
                                    <h2>Project3Name</h2>
                                </figcaption>
                            </figure>
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            <figure>
                                <img src="~/images/project5.jpg" alt="project5 image" />
                                <figcaption>
                                    <h2>Project5Name</h2>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        @* slide 6 *@
        <section>
            <div class="wrap">
                <h2><strong>More Information</strong></h2>
                <p>find out more</p>
                <div class="grid vertical-align">
                    <div class="column">
                        <h4><strong>free study material</strong></h4>
                        <p>Here is a list of useful free study material to help you</p>
                        <ul class="description">
                            <li><a href="#">HTML in 24 hours</a></li>
                            <li><a href="#">CSS in 24 hours</a></li>
                            <li><a href="#">JavaScript in 24 hours</a></li>
                            <li><a href="#">YouTube</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h4><strong> commercial online study material</strong></h4>
                        <p>Here is a list of useful commercial study material to help you</p>
                        <ul class="description">
                            <li><a href="#">HTML in 24 hours</a></li>
                            <li><a href="#">CSS in 24 hours</a></li>
                            <li><a href="#">JavaScript in 24 hours</a></li>
                            <li><a href="#">Coursera</a></li>
                            <li><a href="#">TeamTreeHouse</a></li>
                            <li><a href="#">PluralSights</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h4><strong> hardcover books</strong></h4>
                        <p>Here is a list of useful study material in hardcover to help you</p>
                        <ul class="description">
                            <li><a href="#">HTML in 24 hours</a></li>
                            <li><a href="#">CSS in 24 hours</a></li>
                            <li><a href="#">JavaScript in 24 hours</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        @* slide 7 *@
        <section class="aligncenter">
            <div class="wrap">
                <h2><strong>Are you ready</strong></h2>
                <p class="text-intro"> to become a fullstack Developer?</p>
                <p>
                    <a href="#" class="button">
                        Download the study guide brocher
                    </a>
                </p>
            </div>
        </section>
        @* slide 8 *@
        <section class="slide-bottom">
            <div class="wrap">
                <div class="content-right text-serif">
                    <h2><strong>Thank You!</strong></h2>
                    <p>Thank you to the creators of WebSlides :) Follow them on Twitter below</p>
                    <p>
                        <a href="https://twitter.com/jlantunez">@("@jlantunez")</a>,
                        <a href="https://twitter.com/ant_laguna">@("@ant_laguna")</a> and
                        <a href="https://twitter.com/luissacristan">@("@luissacristan")</a>
                    </p>
                    <p>Thank you to Brad Traversy! </p>
                    <a href="https://www.youtube.com/watch?v=uE1m21Umn0s">Traversy YouTube video on WebSlides</a>
                </div>
            </div>
        </section>
    </article>
